// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.banner {
	background-color: #0d0dc3;
	text-align: center;
	color: #fff;
}
h2 {
	font-size: 2.0rem;
}
h3 {
	font-size: 1.6rem;
	font-weight: bold;
}
.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}
.slider-wrap {
	padding-bottom: 41%;
	z-index: 1;
}
.slider-wrap img {
	object-fit: contain !important;
}

@media screen and (max-width: 1023px) {
.navbar-menu {
    background-color: transparent;
    // box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    // padding: 0.5rem 0;
}
}
.navbar-item img {
    max-height: 2.75rem;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}
